<div class='container'>
    <div class="row top">
        <div class="col-xs-2">
            <a href="#">
                <p class="text-capitalize"><strong>Create new brawler</strong></p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Brawler Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">999</th>
                        <td>
                            <a href="#">
                                Some test brawler
                            </a>
                        </td>
                        <td class="col-xs-1"><button class="btn btn-danger" title="delete brawler">X</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>